
.card-container{
    display: flex;
    gap: 5px;
  }

.card{
    flex: 1;
    width: 50%; 
    margin-top: 10px;
    margin-bottom: 30px;
}

.card-ocultar{
    display: flex;
    flex: 1;
    width: 50%; 
    margin-top: 10px;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center; 
    margin-bottom: 30px;
}

img{
    width:210px;
    height:210px;
}

.campo{
    width: 100%;
    height:54px;   
}

.botonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
.botonVolver,
.botonAceptar {
  width: 140px;
  height: 50px;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.botonVolver {
    margin-right: 25px;
 }
  
.botonAceptar {
    background-color: #FEA31C;
}


/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 768px) {
    .campo {
      width: 100%; 
      height: auto; 
    }  
    .card-ocultar{
        display: none;
    }

    .botonAceptar, .botonVolver  {
        font-size: 12px;
        padding: 2px 35px; 
        width: auto; 
        height: 40px; 
        text-align: center;      
      }
  }


  