
<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>HOSPEDAJE - TIPO</h1>
      <app-pie-hospedaje-chart></app-pie-hospedaje-chart>
    </div>
    <div class="col-6">
      <h1>HOSPEDAJE - RATING</h1>
      <app-pie-hospedaje-rating-chart></app-pie-hospedaje-rating-chart>
    </div>
  </div>
</div>
<hr />
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1 class="text-center">POR DONDE SE ENTERA DE MINA CLAVERO</h1>
      <app-pie-chart></app-pie-chart>
    </div>
  </div>
</div>
<hr />
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h1 class="text-center">
        INFORMACIÓN BRINDADA POR LAS OFICINAS DE TURISMO
      </h1>
      <app-pie-oficina-rating-chart></app-pie-oficina-rating-chart>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-6">
      <h1 class="text-center">OFICINA DE TURISMO - MATERIAL PROPORCIONADO</h1>
      <app-bar-chart></app-bar-chart>
    </div>
  </div>
</div>
<app-bar-group-chart></app-bar-group-chart>