<div class="container">
  <div class="row justify-content-center" style="height: 100vh;">
    <div class="col-md-6">
      <mat-card>
        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
          <div class="text-center">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label for="currentPassword">Contraseña Actual</mat-label>
              <input matInput type="password" id="currentPassword" formControlName="currentPassword" required>
            </mat-form-field>
          </div>

          <div class="text-center">
            <mat-form-field appearance="fill" class="w-100">
              <mat-label for="newPassword">Nueva Contraseña</mat-label>
              <input matInput type="password" id="newPassword" formControlName="newPassword" required>
            </mat-form-field>
          </div>

          <div class="text-center">
            <button mat-raised-button class="w-100" color="primary" type="submit">Cambiar Contraseña</button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>


