<div class="container">
  <div class="row">
    <div class="col-6">
      <mat-card>
        <form [formGroup]="passwordForm" (ngSubmit)="changePassword()">
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label for="currentPassword">Contraseña Actual</mat-label>
              <input
                matInput
                type="password"
                id="currentPassword"
                formControlName="currentPassword"
                required
              />
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="fill">
              <mat-label for="newPassword">Nueva Contraseña</mat-label>
              <input
                matInput
                type="password"
                id="newPassword"
                formControlName="newPassword"
                required
              />
            </mat-form-field>
          </div>
          <div class="row">
            <button mat-raised-button color="primary" type="submit">
              Cambiar Contraseña
            </button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
