.mat-toolbar {
  background-image: url('../../../../assets/img/portadas/portada.png');
  background-size: cover;
  background-repeat: no-repeat;
}







table {
    width: 100%;
    margin-top: 10px;
  }

  
.pointer{
  cursor: pointer;
  color: #245683;
  transition: transform 0.2s ease-in-out;
}

.pointer:hover {
  transform: scale(1.2);
}

.mat-form-field {
  font-size: 15px;
}

.botonagregar{
  background-color: #FEA31C;
  color: white;
}
.mat-cell-content-long {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.highlight-row:hover {
  background-color: #e0e0e0;
  cursor: pointer; 
}